/*-------------------------
一覧画面
-------------------------*/
@charset "UTF-8";
body {
  font-size: 62.5%;
}

.list {
  margin: 30px;
  width: 1280px;
  height: auto;
}

#table,
th,
td {
  border: 2px solid #bbb;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  
}

#table th {
  height: 80px;
  background-color: #e3dede;
  padding: 10px;
}

#table td {
  height: 80px;
  width: auto;
  padding: 10px;;
}

.clickBox {
  width: 20px;
  height: 20px;
  background-color: #fff;
}

/*-------------------------
新規登録追加
-------------------------*/
.newData {
  font-size: 1rem;
  width: 500px;
  background-color: #eee;
  margin-top: 30px;
  padding: 30px;
}

.newRegi {
  font-size: 1.6rem;
  display: inline-block;
  background-color: #ccc;
  padding: 5px;
  border-radius: 5%;
}

.formData p {
  margin-bottom: 0;
}

.listMessage {
  height: 30px;
  color: red;
  font-size: 12px;
  line-height: 2.5;
  margin-left: 10px;
}

.boxColor {
  border: 2px #333 solid;
  margin-top: 3px;
  margin-left: 10px;
}

#age {
  width: 125px;
}

#address {
  width: 400px;
  height: 90px;
}

#registerBtn {
  width: 150px;
  height: 35px;
  background-color: orange;
  border-radius: 6px;
  border: 1px orange solid;
  margin-top: 20px;
}

.test {
  width: 1000px;
  height: 400px;
}



#selectForm{
margin: 30px;

}

#selectValue,#filterButton {
  padding: 5px 4px;
  margin: 3px 0;
}

#filter
{
  margin-left: 30px;
}
